{% block javascript %}
<script src = "/static/jf-validate.js"></script>
{% endblock %}

{% if not args %}{% set args = {} %}{% endif %}

<form id="re-search" action="/JacobiForm/Q/thetablocks" method="get"
      onSubmit="return pack_args( { 'weight_field': half_ints, 'index_field': index, 'character_field': mod24, 'determinant_field': pos_ints, 'rank_field': pos_ints}, 're-search')">
  <input type = "hidden" id = "args" name = "args" />
  <table> 
    <tr>
      <td> 
	<label>weight(s)</label>
      </td>
      <td>
	<input type="text" id="weight_field" name="weight_field" value="{{ args.weight_field }}" placeholder="6+20" pattern="[\d\.\+\,\ ]+" />
      </td>
      <td>
	<span class="formexample">e.g. 2 or 20+10 or 20+26 4</span>
      </td>
    </tr>
    <tr>
      <td> 
	<label>index(es)</label>
      </td>
      <td>
	<input type="text" id="index_field" name="index_field" value="{{ args.index_field }}" placeholder="A_2" />
      </td>
      <td>
	<span class="formexample">e.g. 2*(Z<3>+F_4) + [1 1 2]</span>
      </td>
    </tr>
    <tr>
      <td> 
	<label>determinant(s)</label>
      </td>
      <td>
	<input type="text" id="determinant_field" name="determinant_field" value="{{ args.determinant_field }}" placeholder="0" pattern="[\d\+\,\ ]+" />
      </td>
      <td>
	<span class="formexample">e.g. 2 or 2 4 6 or 1+10 4</span>
      </td>
    </tr>
    <tr>
      <td> 
	<label>rank(s)</label>
      </td>
      <td>
	<input type="text" id="rank_field" name="rank_field" value="{{ args.rank_field }}" placeholder="0" pattern="[\d\+\,\ ]+" />
      </td>
      <td>
	<span class="formexample">e.g. 2 or 2 4 6 or 1+10 4</span>
      </td>
    </tr>
    <tr>
      <td> 
	<label>character(s)</label>
      </td>
      <td>
	<input type="text" id="character_field" name="character_field" value="{{ args.character_field }}" placeholder="0" pattern="[\d\+\,\ ]+" />
      </td>
      <td>
	<span class="formexample">e.g. 2 or 2 4 6 or 0+23 4</span>
      </td>
    </tr>
    <tr>
      <td> 
	<button type="submit" value="submit">Find</button>
      </td>
    </tr>
  </table> 
</form>



