<p>
  In the table $\vartheta$ denotes Jacobi's theta function 
  \[
  \vartheta
  = \sum_{r\in\Z} \left(\tfrac{-4}r\right)
  q^{r^2/8}\zeta^{r/2}
  =
  q^{1/8}(\zeta^{1/2}-\zeta^{-1/2})
  \prod_{n\ge 1}
  (1-q^n)(1-q^n\zeta)(1-q^n\zeta^{-1})
  ,
  \] where $q$ and and $\zeta$ are the functions
  $q(z)=e^{2\pi i\tau}$ and  $\zeta(z)=e^{2\pi i z}$ and $\tau$ ranges
  through the upper half plane $\mathcal{H}$ and $z$ through the complex numbers.
  Note that $\vartheta$ is an element of $J_{1/2,1/2}(\varepsilon^3)$
  (in fact, it spans this space)
  We use the abbreviation
  \[
  \vartheta_a(\tau,z) = \vartheta(\tau,az).
  \]
  For a nonzero integer $a$, the function $\vartheta_a$ defines an
  element of $J_{1/2,a^2/2}(\varepsilon^3)$.  If $\underline L =
  (\Z^n,(x,y)\mapsto xGy^T)$ is an integral positive definite lattice
  with Gram matrix $G$, we use $\vartheta_[a_1,\dots,a_r]$, for any
  integral vector $[a_1,\dots,a_r]$ of length $r$, for the function on
  $\mathcal{H}\times \mathbb{C^n}$ which is defined by
  \[
  \vartheta_{[a_1,\dots,a_r]}(\tau,\mathfrak{z})
  =
  \vartheta\left(\tau,a_1z_1(\mathfrak{z})+\cdots +a_rz_r(\mathfrak{z})\right).
  \]
  Here $z_j$ is the $j$th coordinate function on $\C^n$.
</p>

<p>
  In the theory of scalar valued Jacobi forms, i.e.~Jacobi forms
  whose index is a lattice of rank $1$, a <em>quotient quotient</em>
  is a function of the form
  \[
  \eta^n
  \frac {\vartheta_{a_1}\cdots\vartheta_{a_r}}{\vartheta_{b_1}\cdots\vartheta_{b_s}}
  ,
  \]
  where the $a_j$ and the $b_j$ are positive integers, and $\eta^n$ is an integral power of
  Dedekind's eta-function
  \[
  \eta = q^{1/24}\prod_{n\ge 1}(1-q^n)
  .
  \]
  If this function is holomorphic on $\mathcal{H}\times\C$,
  we call it a <em>general theta block</em>, and if $s=0$ we call it simply
  a <em>theta block</em>. The tables on this page list,
  for given weight $k$, index $m$ and character $\varepsilon^h$
  all general thetablocks in $J_{k,m}(\varepsilon^h)$ which cannot be divided
  any further by any positive eta-power without becoming singular at infinity.
</p>

<p>
  For lattices of rank $r\ge 2$ with Gram matrix $G$
  we define a thetablock to be a function of the form
  \[
  \eta^n
  \vartheta_{v_1}\cdots\vartheta_{v_N}
  ,
  \]
  where now the $v_j$ are integral vectors of length $r$ such that
  \[
  xGx^T = (v_1\cdot x)^2 + \cdots + (v_N\cdot x)^2
  \]
  for all vectors of length $r$, where $v\dot x$ is the usual standard scalar product of
  vectors of length $r$. The tables list, for given weight $k$, lattice $L$ index with Gram
  matrix $G$, and character $\varepsilon^h$
  all general thetablocks in $J_{k,L}(\varepsilon^h)$ which cannot be divided
  any further by any positive eta-power without becoming singular at infinity
</p>
