{% macro weight( k) -%}
{% if 0.5 == k %}
$\tfrac 12$
{% else %}
${{ k|int }}{% if k|int != k %}\tfrac 12{% endif %}$
{% endif %}
{%- endmacro %}

{% macro th_block( l, r, k) -%}
$
{# write eta-power #}
{% if 1 == k %}
\eta
{% elif k != 0 %}
\eta^{ {{ k }}}
{% endif %}

{% if 1 == r %}
{# and the block if rank is 1 #} 
{% for a,n in l %}
{% if 1 == n %}
\vartheta_{ {{ a }} }
{% else %}
\vartheta_{ {{ a }} }^{ {{ n }} }
{% endif %}
{% endfor %}

{% else %}
{# or the block for rank greater 1 #}
{% set t = -1 %}
{% for a in l + ['!'] %}
{% if -1 == t %}
{% set t = a %}
{% set p = 1 %}
{% elif t == a %}
{% set p = p+1 %}
{% else %}
{% if 1 == p %}
\vartheta_{ {{ t }} }
{% else %}
\vartheta_{ {{ t }} }^{ {{ p }} }
{% endif %}
{% set t = a %}
{% set p = 1 %}
{% endif %}
{% endfor %}
{% endif %}
$
{%- endmacro %}

{#
<pre>
  {{ args }}
</pre>

<pre>
  {% for it in response.data %}
  {{ it }}
  <br />
  {% endfor %}
</pre>
#}

{% if response.hits <= response.limit %}
<h2>Results ({{ response.hits }} matches)</h2>
{% else %}
<h2> Results (displaying matches {{ response.skip + 1 }}-{{ response.skip + response.limit }} of {{ response.hits }})
    <a href="#" class="navlink" onclick="submit_form('re-search', {{ response.skip - response.limit }});return false">Previous</A>
    <a href="#" class="navlink" onclick="submit_form('re-search', {{ response.skip + response.limit }});return false">Next</A>
</h2>
{% endif %}

<p>
  {% set table = response.data %}
  <table>
    <thead>
      <tr>
	<th>det.</th><th>lattice</th><th>block</th><th>weight</th><th>char.</th><th>val.</th>
      </tr>
      {% for it in table %}
      {% set k = (2*it.fl_weight - it['co-rank'])|int %}
      <tr>
	<td>{{ it.det }}</td>
	<td>{{ it.lattice }}</td>
	<td>{{ th_block(it.embedding, it.rank, k) }}</td>
	<td>{{ weight( it.fl_weight) }}</td>
	<td>{{ it.char }}</td><td>{{ it.val_min }}</td>
      </tr>
      {% endfor %}	
    </thead>


  </table>
</p>


