{% block javascript %}
<script src = "/static/jf-validate.js"></script>
{% endblock %}

<form action="/JacobiForm/Q/eigenforms" method="get"
      onSubmit="return pack_args({ 'weight_field': half_ints, 'index_field': index, 'eigenvalue_field': raw})">
  <input type = "hidden" id = "args" name = "args" />
  <table> 
    <tr>
      <td> 
	<label>weight(s)</label>
      </td>
      <td>
	<input type="text" id="weight_field" placeholder="6+20" pattern="[\d\.\+\ ]+" />
      </td>
      <td>
	<span class="formexample">e.g. 2 or 20+10 or 20+26 4</span>
      </td>
    </tr>
    <tr>
      <td> 
	<label>index(es)</label>
      </td>
      <td>
	<input type="text" id="index_field" placeholder="6+20" />
      </td>
      <td>
	<span class="formexample">e.g. 2 or 20+10 or 20+26 4</span>
      </td>
    </tr>
    <tr>
      <td> 
	<label>eigenvalues(s)</label>
      </td>
      <td>
	<input type="text" id="eigenvalue_field" placeholder="0" />
      </td>
      <td>
	<span class="formexample">e.g. 2 or 2 4 6 or 0+23 4</span>
      </td>
    </tr>
    <tr>
      <td> 
	<label>Label</label>
      </td>
      <td>
	<input type="text" id="eigenvalue_field" placeholder="jf-11.2.1.a" />
      </td>
      <td>
	<span class="formexample">e.g. 2 or 2 4 6 or 0+23 4</span>
      </td>
    </tr>
    <tr>
      <td> 
	<button type="submit" value="submit">Search</button>
      </td>
    </tr>
  </table> 
</form>



