{#
<pre>
  {{ args }}
</pre>

<pre>
{{ table[-1] }}
</pre>
#}

{% for phi in table[:-1] %}
<h1>Eigenform {{ phi.label() }}</h1>

<h3>Basic properties</h3>
<p>
  <table>
    <tr>
      <td>Weight</td><td>{{ phi.weight() }}</td>
    </tr>
    <tr>
      <td>Lattice</td><td>{{ phi.index() }}</td>
    </tr>
    <tr>
      <td>Newform</td><td>yes</td>
    </tr>
    <tr>
      <td>Type</td><td>
	{{ phi.type() }}
      </td>
    </tr>
    <tr>
      <td>AL-eigenvalues</td><td>n/a</td>
    </tr>
  </table>
</p>

<h3>Field of definition</h3>
<p>${{ phi.field() }}$</p>


<h3>Exlicit formula</h3>
<p>n/a</p>

<h3>Eigenvalues</h3>
<p>
  <table>
    {#
    <tr>
      {% for e in phi.hecke_eigenvalues %}
      <th>{{ e[0] }}</th>
      {% endfor %}
    </tr>
    #}
    <tr>
      {% for e in phi.hecke_eigenvalues %}
      <td>{{ e }}</td>
      {% endfor %}
    </tr>
  </table>
</p>


<h3>Fourier coefficients</h3>
{% set f = phi.coefficients() %}
{# f.keys() | length #}
<table>
  <tr><th>$D$</th><th>$r$</th><th>$c(D,r)$</th></tr>
  {% for D,r in f.keys() | sort(reverse=True) %}
  <tr><td>{{ D }}</td><td>{{ r }}</td><td>{{ f[(D,r)] }}</td></tr>
  {% endfor %}
</table>

{% endfor %}

