<p>
  For given half integral $k$, integral positive lattice $L$ of rank $n$
  and character $\varepsilon^h$ of $\mathrm{Mp}(2,\Z)$, one has
  $$
  J_{k,L}(\varepsilon^h)
  = 0
  \quad
  \text{if $k\lt\frac n2$
  or if $k-\frac h2$ is not integral.}
  $$
  The first weight where $J_{k,L}(\varepsilon^h)$, for given $L$ and $h$, might be different from $0$
  is therefore the weight
  $$
  k = \left\lceil \frac {n-h}2 \right\rceil + \frac h2
  \quad\text{i.e.}\qquad
  s =
  \begin{cases}
  \frac n2&\text{if $n\equiv h\bmod 2$,}\\
  \frac {n+1}2&\text{otherwise.}
  \end{cases}
  $$
</p>

<p>
  The <em>singular</em> and <em>critical</em> weights $k=\frac n2$ and $k=\frac {n+1}2$,
  and the weights $k=\frac n2+1$, $k=\frac {n+3}2$ are somewhat special in that here the dimension
  calculations require different methods (currently not implemented), and that
  averaging over the underlying group to obtain e.g. Eisenstein and Poincar&eacute; series does
  not lead to convergent series. In contrast, the behavior of the spaces $J_{k,L}(\varepsilon^h)$
  is more 'regular' as soon as $k >= \frac n2 + 2$.
</p>

