{% macro weight( k) -%}
{% if 0.5 == k %}
$\tfrac 12$
{% else %}
${{ k|int }}{% if k|int != k %}\tfrac 12{% endif %}$
{% endif %}
{%- endmacro %}


{% set L = table.keys()[0] %}
{% set a = table[L] %}
{% set h_min = (a.keys()|sort)[0] %}
{% set h_nbr = a.keys()|sort|length %}

<table>
  <thead>
    <tr>
      <th>Lat.</th>
      <th>$h\backslash k$</th>
      {% for k in a[a.keys()[0]].keys()|sort() %}
      <th>{{ weight(k) }}</th>
      {% endfor %}      
    </tr>
    {% for L in table %}
    {% set a = table[L] %}
    {% for h in a.keys()|sort() %}
    <tr class = "{{ loop.cycle( 'odd', 'even') }}">
      {% if h == h_min %}
      <th rowspan = "{{ h_nbr }}">${{ L.name() }}$</th>
      {% endif %}
      <th align = "left">${{ h }}$</th>     
      {% for k in a[h]|sort() %}      
      <td>${{ a[h][k] }}$</td>
      {% endfor %}
    </tr>
    {% endfor %}
    {% endfor %}
  </thead>
</table>

<p>
  The table displays dimensions for spaces $J_{k,L}\big(\varepsilon^h\big)$,
  where $L$ is
  {% if table|length > 1 %}
  one of the following lattices{% else %}the following lattice{% endif %}.
</p>

<table>
  <thead>
    <tr>
      <th>Name</th><th>rank</th><th>Gram matrix</th><th>det.</th><th>level</th>
    </tr>
  </thead>
  {% for L in table %}
  <tr>
    <th>${{ L.name() }}$</th><td>${{ L.rank() }}$</td><td>${{ L.gram_matrix()._latex_() }}$</td>
    <td>${{ L.det() }}$</td><td>${{ L.level() }}$</td>
  </tr>
  {% endfor %}
</table>
