{% macro char( h) -%}
{% if h >= 2 %}
\big(\varepsilon^{ {{ h }} }\big)
{% elif h == 1 %}
\big(\varepsilon\big)
{% endif %}
{%- endmacro %}



{% for L in table %}
{% set H = table[L] %}
{% for h in H %}
{% set P = H[h] %}
{% for p in P %}
{% set J = P[p] %}

{% if L.name()|length <= 10 %}
<h2>$J_{ \textrm{ {{ p }} },{{ L.name() }} }{{ char(h) }}$</h2>
{% else %}
<h2>$J_{ \textrm{ {{ p }} },L}{{ char(h) }}$ where $L = {{ L.name() }}$</h2>
{% endif %}
<p>
<table>
  <tr>
    <td>Lattice</td>
    <td>
      <table>
	<thead>
	  <tr>
	    <th>Name</th><th>rank</th><th>Gram matrix</th><th>det.</th><th>level</th>
	  </tr>
	</thead>
	{% set L = J.index() %}
	<tr>
	  <td>${{ L.name() }}$</td><td>${{ L.rank() }}$</td><td>${{ L.gram_matrix()._latex_() }}$</td>
	  <td>${{ L.det() }}$</td><td>${{ L.level() }}$</td>
	</tr>
      </table>
    </td>
  </tr>
  <tr><td>Rank</td>  <td>${{ J.rank() }}$</td></tr>
  {% set s,pol = J.Poincare_pol() %}
  <tr><td>Special weight</td>  <td>${{ s }}$</td></tr>
  <tr><td>Hilbert-Poincar&eacute; polynomial</td>  <td>$u(1-x^4-x^6+x^{10})+{{ pol._latex_() }}$</td></tr>
  <tr><td>Hilbert-Poincar&eacute; series</td>  <td>?</td></tr>
  <tr><td>Generators</td>  <td>--- Not available ---</td></tr>
</table>
</p>
{% endfor %}
{% endfor %}
{% endfor %}
