{% extends 'homepage.html' %}
{% block content %}

{% macro weight( k) -%}
{% if 0.5 == k %}
$\tfrac 12$
{% else %}
${{ k|int }}{% if k|int != k %}\tfrac 12{% endif %}$
{% endif %}
{%- endmacro %}

<p>
  This location provides data concerning Jacobi forms of scalar and lattice index over the elliptic modular group.
</p> 

<h2>Browse {{KNOWL( 'jf.jacobi_form', title = 'Jacobi forms')}}</h2>
<p>
  {#
  By weight:
  {% set d = { 1:9,10:19,20:29,30:39,40:49,50:99} %}
  {% for n in d|sort %}
  <a href = "{{ url_for( 'JacobiForm_Q_top_level', page='search_results', query='{\"weight\":{ \"$gte\":\"' ~ n ~ '\", \"$lte\":\"' ~ d[n] ~'\"}}') }}">${{ n }}$-${{ d[n] }}$</a>
  {% endfor %}
  #}
  By weight:
  {% set wts = [0.5, 1, 1.5, 2, 2.5]  %}
  {% for wt in wts %}
  {% if wts[-1] == wt %}
  <a href = "{{ url_for( 'JacobiForm_Q_top_level', page='search_results', query='{\"rank\":\"' ~ wt ~ '\"}') }}">{{ weight( wt) }}$\dots$</a>
  {% else %}
  <a href = "{{ url_for( 'JacobiForm_Q_top_level', page='search_results', query='{\"weight\":{ \"$gte\":\"' ~ wt ~ '\", \"$lte\":\"' ~ wt ~'\"}}') }}">{{ weight( wt) }}</a>
  {% endif %}
  {% endfor %}
</p>
<p>
  By rank of index:
  {% set ixs = [1,2,3,4,5,6] %}
  {% for ix in ixs %}
  {% if ixs[-1] == ix %}
  <a href = "{{ url_for( 'JacobiForm_Q_top_level', page='search_results', query='{\"rank\":\"' ~ ix ~ '\"}') }}">${{ ix }}\dots$</a>
  {% else %}
  <a href = "{{ url_for( 'JacobiForm_Q_top_level', page='search_results', query='{\"rank\":\"' ~ ix ~ '\"}') }}">${{ ix }}$</a>
  {% endif %}
  {% endfor %}
</p>
<p>
  By character:
  {% for c in range(24) %}
  <a href = "{{ url_for( 'JacobiForm_Q_top_level', page='search_results', query='{\"char\":\"' ~ c ~ '\"}') }}">${{ c }}$</a>
  {% endfor %}
</p>

</br>

<h2>Browse {{KNOWL( 'jf.module', title = 'Modules of Jacobi forms')}}</h2>
<p>
  {#
  {% for col in cols|sort( attribute = 'order') %}
  <a href="{{ col.name() }}">
    ${{ col.latex_name() }}$
  </a>
  &nbsp;
  {% endfor %}
  #}
  By rank of index:
  {% set ixs = [1,2,3,4,5,6] %}
  {% for ix in ixs %}
  {% if ixs[-1] == ix %}
  <a href = "{{ url_for( 'JacobiForm_Q_top_level', page='search_results', query='{\"rank\":\"' ~ ix ~ '\"}') }}">${{ ix }}\dots$</a>
  {% else %}
  <a href = "{{ url_for( 'JacobiForm_Q_top_level', page='search_results', query='{\"rank\":\"' ~ ix ~ '\"}') }}">${{ ix }}$</a>
  {% endif %}
  {% endfor %}  
</p>

<br/>

{#
<table>
  <tr valign="top">
    <td>
      <h2>Search for dimensions</h2>
      <p>{% include 'dimensions/jf-form.html' %}</p>
    </td>
    <td>
      <h2>Search for modules</h2>
      <p>{% include 'modules/jf-form.html' %}</p>
    </td>
  </tr>
  <tr valign="top">
    <td>
      <h2>Find {{KNOWL( 'jf.theta_blocks', title = 'Theta blocks')}}</h2>
      <p>{% include 'thetablocks/jf-form.html' %}</p>
      <h2>Find singular forms</h2>
      <p>{% include 'singular_forms/jf-form.html' %}</p>
    </td>
    <td>
      <h2>Search for Hecke eigenforms</h2>
      <p>{% include 'eigenforms/jf-form.html' %}</p>
    </td>
  </tr>
</table>
#}

{# see http://www.html-cleaner.com/features/replace-html-table-tags-with-divs/
for constructing tables using divs #}
<style>
.rTable { display: table; }
.rTableRow { display: table-row; }
.rTableHeading { display: table-header-group; }
.rTableBody { display: table-row-group; }
.rTableFoot { display: table-footer-group; }
.rTableCell, .rTableHead { display: table-cell; }

.rTableCell > h2
{
    font-family: sans-serif;
    text-decoration: none;
    font-size: 120%;
    text-align: left;
    font-weight: bold;
    color: #292;
    padding: 5px 0 5px 0;
    margin: 15px 0 10px 0;
}

</style>

<div class="rTable">
  <div class="rTableBody">
    <div class="rTableRow">
      <div class="rTableCell">
	<h2>Search for dimensions</h2>
	<p>{% include 'dimensions/jf-form.html' %}</p>
      </div>
      <div class="rTableCell">
	<h2>Search for modules</h2>
	<p>{% include 'modules/jf-form.html' %}</p>
      </div>
    </div>
    <div class="rTableRow">
      <div class="rTableCell">
	<h2>Find {{KNOWL( 'jf.theta_blocks', title = 'Theta blocks')}}</h2>
	<p>{% include 'thetablocks/jf-form.html' %}</p>
      </div>
      <div class="rTableCell">
	<h2>Search for {{KNOWL( 'jf.Hecke eigenforms', title = 'Hecke eigenforms')}}</h2>
	<p>{% include 'eigenforms/jf-form.html' %}</p>
      </div>
    </div>
  </div>
</div>

<p>Required fields are marked by an asterisk.</p>
{% endblock %}
